.box{
    box-shadow: 4px 4px 6px 5px black;
    /* height: 40rem; */
    width: 80%;
    color:white;
    padding: 4rem 10% 4rem 10%;
}

.yo{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* border:3px solid black; */
}

.content{
    font-family: sans-serif;
}
